site_name: Les incroyables notes de ramzouille
repo_name: buchtioof/notes
repo_url: https://github.com/buchtioof/notes

theme:
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: lucide/sun-moon
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      accent: deep purple
      toggle:
        icon: lucide/sun
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      accent: purple
      toggle:
        icon: lucide/moon
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/git-alt
    admonition:
      note: fontawesome/solid/note-sticky
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/bullhorn
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: fontawesome/solid/bomb
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left

extra_css:
  - stylesheets/index.css

nav:
  - Accueil: index.md
  - Cheatsheets:
    - cheatsheets/2025-11-28.md
    - cheatsheets/2025-12-12.md
    - cheatsheets/2026-01-16.md
    - cheatsheets/2026-01-22.md
  - Cours:
    - learn/2025-10-30.md
    - learn/javascript.md
  - Projets:
    - projects/2025-12-05.md
    - projects/2026-01-23.md
  - Liens cools: links.md
  

markdown_extensions:
  - tables
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji


