@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

.md-typeset h1 {
  font-family: "Instrument Serif";
  font-style: italic;
  font-weight: 800;
  font-size: 42px;
}

img {
  width: 100%;
  border-radius: 12px;
}